{% load i18n %}
{% language 'en-us' %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} / 10x LMS </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/signin.css" rel="stylesheet">
  </head>
 <body>


    <div class="container">

        {% include 'lms/_messages.html' %}

        <div>
            {% block content %}
            {% endblock %}
        </div>

    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>

    {% block scripts %}
    {% endblock %}

    {% include "website/_analytics.html" %}

  </body>
</html>
{% endlanguage %}

