{% load i18n sa users %}

{% with info=u.personalinfo %}
    <div class="well">
        {{ info.hebrew_first_name }} {{ info.hebrew_last_name }}
        {{ info.english_first_name }} {{ info.english_last_name }}
        ({{ info.get_gender_display }})
        <i class="fa fa-phone"></i>
        {{ info.main_phone }}
        {% if info.alt_phone %}({{ info.alt_phone }}){% endif %}
        &bull;
        {{ info.address|default:'' }}
        {{ info.city|default:'' }}
        {% if info.skype_username %}
            <i class="fa fa-skype"></i>
            {{ info.skype_username }}
        {% endif %}

        {% with app=u.application %}
            {% if app %}
                &bull;
                {% app_status app edit=True %}
            {% endif %}
        {% endwith %}

        {% user_tags u edit=True %}

    </div>
{% endwith %}
