{% extends 'users/base.html' %}
{% load i18n humanize hackita staticfiles sa users gravatar %}

{% block page_title %}
    {% trans "Community" %}
    |
{% endblock %}

{% block content %}

    <h1>
        {% trans "Community" %}
    </h1>

    <ul class="list-group">
        {% for u in object_list %}
            <li class="list-group-item">
                {{ u.email|gravatar }}
                {{ u.community_name }}
                {% if user.team_member %}
                    {% if u.community_email %}
                        &bull;
                        <a href="mailto:{{ u.community_email }}">{{ u.community_email }}</a>
                    {% endif %}
                    {% if u.community_contact_phone %}
                        &bull;
                        <a href="tel:{{ u.community_contact_phone }}">{{ u.community_contact_phone }}</a>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
